{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="info text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img class = "car-logo" src="{% static './img/barty-logo.gif'%}" style = "margin-top:30px">
    </a>
    <h1>Barty Box</h1>
    <p>Find a ride to a random top-rated bar in your area.</p>
    <h3 id="output">Nobody has accepted the ride yet. Hang tight!</h3>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/js/rideFinder.js"></script>

{% endblock %}